.gallery {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden;  */

}

.container {
    width: 75%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.container > div {
    width: 360px;
    height: 450px;
    margin: 2px;
}

.container img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    object-fit: cover;
    cursor: pointer;
}

/* Fullscreen Mode */
.fullscreenOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.fullscreenImage {
    max-width: 90vw;
    max-height: 90vh;
    object-fit: cover;
}

.closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    background: black;
    border: none;
    font-size: 24px;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
}





.swiper
{
    width: 100%;
    height: 880px;
    position: relative;
  
}

.swiperslide
{
    width: 100%;
    height: 880px;
   
    
 
}
.swiperslide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  
 
}
/*  */
.customPrevButton {
    position: absolute;
    top: 70%;
    left: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 24px;
    z-index: 10;
    color: #fff;
    background-color: rgb(105, 105, 105);
    width:60px;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    background-color: red;
  }
  
  .customNextButton {
    position: absolute;
    top: 70%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 24px;
    z-index: 10;
    color: #fff;
    background-color: rgb(105, 105, 105);
    width:40px;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
  }
  




/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
       
    }

    .container img {
        width: 100%;
        position: relative;
       
    }
}



