.contact {
    width: 100%;
    height: auto;
    background-color: #121214;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
  
  
}

.address {
    width: 30%;
    padding: 30px;
    border: 1px solid rgba(119, 119, 125, .2);
    border-radius: 10px;
    /* background-color: red; */
}

.address .items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.address h3 {
    color: #CCCCCC;
    font-size: 16px;
    font-family: "Montserrat", serif;
}

.address p {
    color: #9f9f9f;
 
}

.form {
    width: 60%;
    padding: 30px;
    border: 1px solid rgba(119, 119, 125, .2);
    border-radius: 10px;
    /* background-color: green; */
}

.form form {
    display: flex;
    flex-direction: column;
    color: #9f9f9f;
    padding: 30px;
}

label {
    margin-bottom: 10px;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.labelinput {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input[type="text"], input[type="email"] {
    /* flex: initial; */
    width: 354px;
    height: 60px;
    border-radius: 7px;
    padding: 0 10px;
    box-sizing: border-box;
}

.textarea {
    display: flex;
    flex-direction: column;
    width: 100%;
}

textarea {
    width: 85%;
    height: 122px;
    border-radius: 7px;
    resize: vertical;
    padding: 10px;
    box-sizing: border-box;
    font-family: "Montserrat", serif; 
  
}

input[type="submit"] {
    width: 200px;
    height: 45px;
    background-color: #EB5D3A;
    color: white;
    border: none;
    border-radius: 7px;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    cursor: pointer;
}





/* Medium screen (tablets, 768px and below) */
@media (max-width: 768px) {
    .inputs {
        flex-direction: column;
    }

    input[type="text"], input[type="email"] {
        width: 100%;
    }

    .textarea {
        width: 100%;
    }
    textarea {
        width: 100%;
    }
}

/* Small screen (mobile, 576px and below) */
@media (max-width: 576px) {
    .contact {
        flex-direction: column;
    width: 100%;

    }

    .address {
        width: 95%;
        padding: 0 8px;
    }

    .form {
        width: 95%;
        padding: 0px 10px;
    }

    .form form {
        padding: 0;
    }

    .inputs {
        width: 100%;
        flex-direction: column;
    }

    input[type="text"], input[type="email"] {
        width: 90%;
    }

    .textarea {
        width: 90%;
    }
    textarea {
        width: 100%;
    }
}
