.home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center;
    overflow: hidden; 
}

.home > div{
 
    width: 100%;
    height: 700px;
}

.home img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
  
}


.swiper
{
    width: 100%;
    height: 880px;
}

.swiperslide
{
    width: 100%;
    height: 880px;
 
}
.swiperslide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
 
}.customPrevButton {
    position: absolute;
    top: 70%;
    left: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 24px;
    z-index: 10;
    color: #fff;
    background-color: rgb(105, 105, 105);
    width:60px;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
  }
  
  .customNextButton {
    position: absolute;
    top: 70%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 24px;
    z-index: 10;
    color: #fff;
    background-color: rgb(105, 105, 105);
    width:60px;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
  }
  










@media (max-width: 576px) { 

    .swiper
    {
        width: 100%;
        height: 500px;
    
    }
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .home img {
      height: 100%;
        
    }
}

