

.footer
{
    width: 100%;
    height: 70px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:20px ;
}

.footer .name
{
    font-size: 20px;
    transition: 0.3s;
    font-family: "Dancing Script", cursive;
}


.container
{
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red !important; */
    
  
}

.social_media
{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    /* background-color: aqua; */
}

.link
{
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
    color: black;
    

}

#link
{
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
    color: black; 
}

.link_facebook:hover
{
color:#4267B2;
transform: translateY(-5px);
transition: 0.3s;
}

.link_twitter:hover
{
color:#1DA1F2;
transform: translateY(-5px);
transition: 0.3s;
}
.link_instagram:hover
{
color:#E1306C;;
transform: translateY(-5px);
transition: 0.3s;
}

.link_linkedin:hover
{
color:#0a66c2;
transform: translateY(-5px);
transition: 0.3s;
}








/* .link:hover */
/* { */
    /* color: red; */
    /* transform: translateY(-5px); */
    /* transition: 0.3s; */
    /*  */
/* } */






@media (max-width: 576px) { 

    .container
    {
   
        flex-direction: column;
       
       
       
    }
    p
    {
       text-align: center;
    }

    .social_media
{
 
  width: 50%;
}
}